<div id="notice"><%= notice %></div>
<div>
  <strong>Image:</strong>
  <% @spot.images.each do |image| %>
    <% if image && image.url %>
      <%= image_tag(image.url, style: "max-width: 100px; max-height: 100px;") %>
    <% end %>
  <% end %>
</div>
<%= link_to 'Back', spots_path %>
