.place-card {
	background: #fff;
	margin-bottom: 25px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
}

/* 県北 */
.area-1 {
	box-shadow: 0 0px 8px #9ccc9c !important;
}

/* 県央 */
.area-2 {
	box-shadow: 0 0px 8px #ceceff !important;
}

/* 県西 */
.area-3 {
	box-shadow: 0 0px 8px #ffce9c !important;
}

/* 県南 */
.area-4 {
	box-shadow: 0 0px 8px #ffcece !important;
}

/* 鹿行 */
.area-5 {
	box-shadow: 0 0px 8px #9cceff !important;
}

.place-card__img {
  overflow: hidden;
  display: block;
}

.place-card__img img {
	display: block;
	height: 200px;
	width: 100%;
	object-fit: cover;
	transition: all, 0.3s;
}

.place-card__img:hover img {
  transform: scale(1.1);
}

.place-card__header {
	font-weight: 600;
	letter-spacing: 0.4rem;
	padding: 6px 12px 6px;
}

.place-card__content {
	padding: 20px;
}

.place-card__content_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.place-card__content_header h5{
	font-size: 3rem;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}