.form-wrapper {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
}

.form_item_tags li {
  font-size: 1.2em;
  color: #fff;
  padding-right: 6px;
  float: left;
  list-style: none;
}

.form-file-field {
  height: auto !important;
}

.input-font {
  font-size: 1.6rem !important;
  letter-spacing: 0.1em;
}

.tags_field input {
	position:relative;
	top: 2px;
}

.tags_field ul {
  padding-left: 20px;
}

.tags_field li {
  line-height: 18px;
  color: #fff;
  padding-right: 10px;
  float: left;
  list-style: none;
  margin: 4px 0;
}

.tags_field span {
  margin-left: 5px !important;
  padding-top: 4.8px;
}

.form-error-message {
  color: rgb(114,28,36);
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  border: 1px solid rgb(245,198,203);
  background-color: rgb(248,215,218);
}

.form-error-message h5 {
  font-size: clamp(15px, 16px, 17px);
  font-weight: 600;
  padding: 10px;
  letter-spacing: 0.1em;
  text-align: left !important;
}

.form-error-message ul {
  margin: 0 10px;
  padding: 0 20px;
}

.form-error-message li {
  margin: 0;
  padding: 5px;
  letter-spacing: 0.1em;
}

.form_image_preview img {
  display: block;
	width: 100%;
  height: auto;
  padding: 0;
	object-fit: cover;
}