.header {
  height: 50px;
  font-size: 0.9rem;
  margin-bottom: 20px;
  box-shadow: 0 5px 3px 0px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  position: relative;
}

.logo-image {
  float: left;
  max-height: 40px;
  margin-left: 10px;
  margin-top: 5px;
}

.top_menu {
  float: right;
}

.top_menu ul {
  margin: 0;
  padding: 0;
}

.top_menu li {
  padding: 15px 12px;
  float: left;
  width: auto;
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}