.show_title_area {
  margin: 10px 0;
  padding: 10px 0;
}

.show_title_area h1 {
  letter-spacing: 0.2em;
  font-weight: 600;
  padding: 0 20px;
  display: inline-block;
}

.show_title_area span {
  font-size: 2rem;
  padding-left: 8px;
  display: inline-block;
}

.show_key_visual {
  width: 100%;
  height: 300px;
  padding: 0;
  overflow: hidden;
  display: block;
}

.show_key_visual img {
	display: block;
	width: 100%;
  height: 300px;
  padding: 0;
	object-fit: cover;
}

.show_key_visual .copy{
  position   : absolute;
  display    : inline-block;
  padding    : 10px;
  background : rgba(0, 0, 0, 0.7);
  color      : #fff;
  bottom     : 10%;
  right      : 3%;
  z-index    : 11;
}

.show_key_visual .copy h3{
  font-size: clamp(10px, 1.8vw, 20px);
  font-weight: 600;
  margin: 10px 0;
  letter-spacing: 0.4em;
}

.show_sidebar {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}

.spot_basic_title h3 {
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin: 0;
  vertical-align: middle;
}

.spot_basic_val {
  letter-spacing: 0.1em;
}

.spot_description p {
  font-size: 1.4rem;
	margin-bottom: 1.5rem;
	line-height: 2.5rem;
  letter-spacing: 1px;
}

.spot_description div figure {
	margin: 10px 15px 0;
	width: 40%;
}

.spot_description div:nth-child(even) figure {
	float: right;
}

.spot_description div:nth-child(odd) figure {
	float: left;
}

.spot_description div figure img {
  margin-bottom: 10px;
  height: 150px;
  width: 100%;
  object-fit: contain;
  background: #eee;
}

.sidebar .area {
  font-size: 2rem;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 0.4em;
  text-align: center;
}

.fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  z-index: 30;
}

/* 県北 */
.sidebar .area-bg-1 {
	background-color: #6AB26A !important;
}

/* 県央 */
.sidebar .area-bg-2 {
	background-color:#919aff !important;
}

/* 県西 */
.sidebar .area-bg-3 {
	background-color:#ffbc66 !important;
}

/* 県南 */
.sidebar .area-bg-4 {
	background-color:#ffafaf !important;
}

/* 鹿行 */
.sidebar .area-bg-5 {
	background-color:#87bdff  !important;
}

.fav-area {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.fav-area span{
  vertical-align: middle;
  text-align: center;
}


.gmap_container {
  margin: 15px auto 5px;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

#gmap {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}