html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  color: #333333;
  font-size: 1.6rem;
  line-height: 2;
  margin: 0 auto;
}

.bread-wrapper {
  margin:0 auto;
  padding: 50px 20px 0;
  background-color:whitesmoke;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}

.main-wrapper {
  margin:0 auto;
  padding-top: 20px;
  background-color: #FFF;
}

.title_area h2 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2em;
  padding: 5px;
}

.admin_area table {
  margin: 40px auto;
  table-layout: auto;
  width: 100%;
  max-width: 900px;
}

.admin_area th {
  color: #333333;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px;
  border-top: 1px solid #0c0000;
  border-bottom: 1px solid #0c0000;
}

.admin_area th:last-child {
  width: 250px;
}

.admin_area td {
  font-size: 1.3rem;
  padding: 6px 10px;
  text-align: center;
  border-top: 1px solid #cccccc;
}

.admin_control_button {
  margin-bottom: 20px;
  width: 100%;
  height: 20px;
}

.admin_control_button ul {
  margin: 0;
  padding: 0;
  float: right;
}

.admin_control_button li {
  float: left;
  padding: 8px;
  list-style: none;
}

.header {
  width: 100%;
  height: 50px;
  font-size: 0.9rem;
  border-bottom: 1px solid #cccccc;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.logo-image {
  float: left;
  max-height: 40px;
  vertical-align: middle;
}

.top_menu {
  float: right;
}

.top_menu ul {
  margin: 0;
  padding: 0;
}

.top_menu li {
  font-size: 1.3rem;
  float: left;
  width: auto;
  list-style: none;
}

.navbar {
  font-size: 1.6rem;
}

.navbar-nav {
  float: right;
}

.header_user_area {
  display: flex;
}

.header_user_area h2{
  margin: auto;
  vertical-align: middle;
}

.header_user_area h4{
  margin: auto;
  vertical-align: middle;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.footer {
  width: 100%;
  margin-top: 30px;
  height: auto;
  padding: 20px 0;
  background-color: #f5f5f5;
	position:sticky;
	top:100vh;
  text-align: center;
}

.copyright {
  max-width: 980px;
  font-size: 0.8rem;
  color: #737373;
  margin: 0 auto;
}

.empty-wrapper h2 {
  color: gray;
}

.no-image {
  max-width: 300px;
  max-height: 300px;
}

.admin-item {
  text-align: center;
}

.admin-item h3 {
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  margin: 0 auto 20px;
}

.admin-item span {
  font-size: 5rem;
  margin: 0 auto;
}

.admin-item-sm {
  text-align: center;
}

.admin-item-sm h3 {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.2em;
}

.admin-item-sm span {
  font-size: 2rem;
  margin: 0 auto;
  vertical-align: middle;
}

.admin-btn a:hover {
  text-decoration: none;
}

.admin-btn div {
  background-color: #17a2b8;
}

.admin-btn div:hover {
  background-color: #117a8b;
}

.fav_btn {
  color: #ff0000;
}

.fav_btn:hover {
  color: #bd2130
}

.fav_btn:active {
  transform: translateY(0.1em);
}

.unfav_btn {
  color: #ff0000;
}

.unfav_btn:hover {
  color: #bd2130;
}

.unfav_btn:active {
  transform: translateY(0.1em);
}