.key_visual_area {
	position: relative;
	width: 100%;
	height: 400px;
  margin-top: -20px;
}

.key_visual_area .copy{
  position   : absolute;
  display    : inline-block;
  white-space: nowrap;
  padding    : 20px;
  background : rgba(0, 0, 0, 0.7);
  color      : #fff;
  top        : 10%;
  right      : 5%;
  z-index    : 11;
}

.key_visual_area .copy h4{
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.key_visual_area .copy span{
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.key_image {
	position: absolute;
	width: 100%;
  height: 400px;
  object-fit: cover;
	opacity: 0;
	animation: change-img-anim 28s infinite;
}

.key_image:nth-of-type(1) {
	animation-delay: 0s;
}
.key_image:nth-of-type(2) {
	animation-delay: 7s;
}
.key_image:nth-of-type(3) {
	animation-delay: 14s;
}
.key_image:nth-of-type(4) {
	animation-delay: 21s;
}

@keyframes change-img-anim {
	0%{ opacity: 0;}
	20%{ opacity: 1;}
	30%{ opacity: 1;}
	35%{ opacity: 0;}
	100%{ opacity: 0;}
}

.spot_index_header {
  background-color: #fff;
}

.spots_title img {
  width: 250px;
  height: auto;
}

.spot_search_area {
  z-index: 50;
}

.spot_search_area div {
  float: left;
  display: flex;
}