<div class="form-wrapper">
  <div class="container justify-content-center">
    <div class="title_area">
      <h2><%= t('views.messages.edit_spot') %></h2>
    </div>
    <div>
      <%= render partial: "form", locals: { form_title: t('views.messages.edit_spot')} %>
    </div>
  </div>
</div>
