<h3><%= t('views.messages.edit_spot') %></h3>
<div>
  <%= render partial: "form", locals: { form_title: t('views.messages.edit_spot')} %>
</div>
<div>
<%= link_to t('views.messages.back'), admin_spots_path  %>
</div>